<div>
    <div>
      <div class="text-center headSec" style="padding-top: 20px; padding-bottom: 4px">
        <span style="padding-left: 50px">Sign Out of Plannotate</span><span class="close"
          style="float: right; padding-right: 24px" (click)="onClose()"><img src="assets/images/P3_Close-Cancel_Blue.png"
            width="25px" /></span>
      </div>
      <hr style="background-color: #e8e8e8" />
    </div>
    <div class="text-center txtclr" style="padding-top:20px;padding-bottom:20px;">
      <span style="color: #002e5f;">Please confirm you would like to sign out.</span>
    </div>
  
  
    <div style="padding-bottom: 28px">
      <hr style="margin-bottom: 24px; margin-top: 24px" />
      <div class="col-lg-12 sign-out-button" style="text-align: center;">
        <button class="sign-out-button-text" (click)="signout()">Sign Out</button>
    </div>
    </div>
  </div>
