.more_information_section{
    width:380px;
}
.header{
    background-color:#E8E8E8;  
    padding:20px 0px;
    position: relative;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.header-heading{
    color: #002e5f;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}
.close-img-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-close{
    width: 20px;
    height: 20px;
}
.img-close:hover{
    cursor: pointer;
}
.created-date, .modified-date{
    color: #807F83;
    font-style: italic;
    font-weight: 500;
}
.tags{
    color: #807F83;
    font-weight: 500;
}
h3{
    margin-bottom: 0px;
}
p{
    margin-bottom: 0px;
}
.content-area{
    padding: 0px 10px;
    min-height: 300px;
    overflow-y: auto;
    max-height: 300px;
}
.row{
    margin:0px;
}
.img-part{
    width:25px;
}
.content-head-section{
    align-items: center;
    display: flex;
    border-bottom:1px solid #E8E8E8;
    justify-content: space-between;
}
.content-head-section:hover{
    cursor: pointer;
}
.content-heading{
    color:#002e5f;
    font-weight: 500;
    font-size: 17px;
}
.hr-area{
    margin:0px;
}
.file-counts{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color:#BF4D27;
}
.toolbar-selected{
    height:25px;
    width:25px;
}
.toolbar-selected:hover{
    cursor: pointer;
}
.checkbox-part{
    display:flex;
    align-items: center;
    justify-content: center;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #a7a9ac;
  }
  #style-1::-webkit-scrollbar-thumb {
    background-color: #a7a9ac;
  }
  #style-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .image_part1{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
.my-custom-input-label-box input[type="checkbox"] {
	display:none;
}

.my-custom-input-label-box input + label {
	display: inline-block;	
	width: 60px;
	height: 30px;
	cursor: pointer;	
	background-image: url(/images/service/checkbox-unchecked.png);
}

.toolbar-checkbox {
    position: relative;
    cursor: pointer;
  }
  .toolbar-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 26px !important;
    height: 26px !important;
    top: 0px;
    left: 0px;
    border: 2px solid #807f83;
    border-radius: 1px;
    background-color: white;
  }
  .toolbar-checkbox:checked:after {
    content: "";
    display: block;
    width: 9px !important;
    height: 21px !important;
    border: solid #f98e2c;
    border-width: 0 2px 2px 0;
    transform: rotate(37deg);
    position: absolute;
    top: 0px;
    left: 8px;
  }
.edit-button{
    color:#04A8b6;
    font-size:16px;
    font-weight:500;
}
.tick-img{
  width:25px;
  height:20px;
  object-fit: contain;
}
.pd-row{
    padding:17px 5px;
}
.crnForm{
    padding: 23px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    .crnForm1{
      color: red;
      font-size: 17px;
      font-weight: 450;
    }