<div class="app-project-head">
  <div class="row header container-fluid">
    <div class="col-lg-12">
      <p class="content-heading-header">Link Options</p>
    </div>
    <div class="image-close">
      <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()" />
    </div>
  </div>
  <div class="content-area">
    <div class="row content-head-section" (click)="openLinkToDocument()">
      <div class="col-lg-12">
        <p class="content-heading">Add Link to Document</p>
      </div>
    </div>
    <hr class="hr-area" />
    <div class="row content-head-section" (click)="openLinktoUrl()">
      <div class="col-lg-12">
        <p class="content-heading">Add a Link to a URL</p>
      </div>
    </div>
  </div>
</div>