<!-- <div *ngIf="show" class="col-lg-11 col-md-11 proj_section" style="position: absolute">
    <div class="image_part">
        <img src="assets/images/spin.gif" width="300px" alt="..." />
    </div>
</div>
<div class="file-upload-section">
    <div class="header container-fluid">
        <h3 class="header-heading1">Add Stubs/ Photos</h3>
        <div class="image-close">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()" />
        </div>
    </div>
    <div class="row add-file-area">
        <form autocomplete="off" class="col-lg-12">
            <div class="choose-file-area col-lg-12">
                <input type="file" name="photo" class="input-field" id="file" accept="image/*,.pdf"
                    (change)="handleFileInput($event.target.files,$event)" />
            </div>
        </form>
    </div>
    <div class="message1">
        <span>{{message}}</span>
    </div>
    <div class="footer">
        <button type="button" [disabled]="buttonValidate || errorMessage" class="add-button" (click)="uploadStubs()">
            Upload File
        </button>
    </div>
</div> -->
<div class="file-upload-section">
    <div class="header container-fluid">
        <h3 class="header-heading1">Reconcile Stub Photos</h3>
        <div class="image-close">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()" />
        </div>
    </div>
    <div class="row add-file-area">
        <div class="userBorder">
            <select class="form-control" (change)="userSelection($event.target.value)">
                <option disabled selected class="dropdown-option">Please select user</option>
                <option value="0">All Users</option>
                <ng-container *ngFor="let v of userlist; let k = index">
                    <option class="dropdown-get" [value]="v.user_id" appSpecialcharater>
                        {{ v.first_name }} {{v.last_name}} ({{v.email_id}})
                    </option>
                </ng-container>
            </select>
        </div>
        <!-- <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
            <input #myInput hidden multiple type="file" #fileInput accept=".jpg"
                (change)="uploadFile($event.target.files)">
            <div class="textBanner">Select your .jpg image file(s) or drag and drop them here.</div>
        </div> -->
        <ngx-file-drop #myInput class="uploadfilecontainer" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                 multiple="true" accept=".jpg">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div class="textBanner">Select your .jpg image file(s) or drag and drop them here.</div>
                    <div class="inside-selector" (click)="openFileSelector()"></div>
                  </ng-template>
        </ngx-file-drop>
        <div class="row col-lg-12">
            <div class="col-lg-1" style="padding: 0px;"></div>
            <div class=" col-lg-12" style="padding: 0px;">
                <div class="oijku col-lg-11">
                    <div class="col-lg-12 row" *ngFor="let file of finalArray;let i=index">
                        <!-- <div class="col-lg-1"></div> -->
                        <div class="col-lg-7">
                            <div class="files-list">
                                <span class="FileNameText">{{ file.filename }}</span>
                                <button class="delete-file" (click)="deleteAttachment(i)">
                                    <img src="assets/images/P3_Close-Cancel_Blue.png">
                                </button>
                            </div>
                        </div>
                        <div *ngIf="file.progressEnable" class="col-lg-4">
                            <div class="meter">
                                <span [style.width]="file.progress+'%'"></span>
                            </div>
                        </div>
                        <div *ngIf="file.message" class="col-lg-4 message1">
                            <span>{{message}}</span>
                        </div>
                        <div *ngIf="file.dbmessage" class="col-lg-4 message1">
                            <span>{{message1}}</span>
                        </div>
                        <div *ngIf="file.tick" class="col-lg-1">
                            <img class="imageTick" src="assets/tick markvalue.png">
                        </div>
                        <!-- <div class="col-lg-1"></div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-12 message1 userError">
        <span>{{userMessage}}</span>
    </div>
    <div class="footer">
        <!-- <button type="button" [disabled]="buttonValidate || errorMessage" class="add-button" (click)="uploadStubs()">
            Upload File
        </button> -->
        <button type="button" [disabled]="buttonValidate" class="add-button" (click)="uploadStubs()">
            Upload File
        </button>
    </div>
</div>

<div id="openModal" class="modal fade {{ClassName}}" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="position: fixed;width: 500px;top: 0;">
            <div class="modal-header">
                <h4 class="modal-title">Plannotate says</h4>
            </div>
            <div class="modal-body">
                One or more of the selected files does not have the proper file extension of .jpg.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary okButton" (click)="closeAlert()">OK</button>
            </div>
        </div>
    </div>
</div>