.header{
    background-color:#E8E8E8;  
    padding:18px 20px;
    position: relative;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.header-heading{
    color: #002e5f;
    font-weight:550;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left:1px;
}
.image-close{
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -10px;
}
.img-close{
    width: 20px;    
    height: 20px;
    object-fit: contain;
}
.image-close:hover{
    cursor: pointer;
}
.created-date, .modified-date{
    color: #807F83;
    font-style: italic;
    font-weight: 500;
}
.tags{
    color: #807F83;
    font-weight: 500;
}
p{
    margin-bottom: 0px;
}
.content-area{
    padding:0PX 10px;
}
.row{
    margin:0px;
}
.img-part{
    width:33px;
}
.content-head-section{
    padding:13px 10px;
    align-items: center;
    display: flex
}
.content-head-section:hover{
    cursor: pointer;
}
.content-heading{
    color:#002e5f;
    font-weight:550;
    font-size: 16px;
    margin-left: -11px;
}
.hr-area{
    margin:0px;
}
hr{
    border-top: 2px solid rgb(0 0 0 / 5%);
}
.img-part1{
    width: 26px;
    height: 21px;
}