<!-- Add Rename section Start -->
<!-- <div *ngIf="show" class="image_part">
    <img src="assets/images/spin.gif" alt="..." />
  </div> -->
  <div class="app-project-head">
    <div class="header container-fluid">
      <h3 class="header-heading1">Warning!</h3>
      <div class="image-close">
        <img src="assets/images/P3_Close-Cancel.png" class="img-close" alt="close" (click)="closeBox()" />
      </div>
    </div>
    <div class="content-head">
        <p class="content-text">
            This action will revert your undone changes. Please mark done to save or cancel to revert
        </p>
    </div>
    <div class="row footer-head">
        <div class="col-lg-6 border-right-2">
            <button type="button" class="add-button"
            (click)="completeAction('cancel')">
            Cancel
          </button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="add-button"
            (click)="completeAction('done')">
            Done
          </button>
        </div>
    </div>
  </div>