<div class="app-project-head">
  <div class="header container-fluid">
    <h3 class="header-heading">Manage Tags</h3>
    <div class="image-close">
      <img src="assets/images/Sort/P3_Close-Cancel.png" class="img-close" alt="close" (click)="closeBox()" />
    </div>
  </div>
  <mat-dialog-content class="tags-adjust">
    <div class="heading">
      <p class="heading_text">
        Please enter a comma separated <br />list of tags, or click any tag to
        <br />remove.
      </p>
    </div>
    <div class="input-group input-field-head">
      <div class="input-group-prepend">

      </div>
      <input class="form-control bg-none input-field" aria-describedby="basic-addon1" style="margin-left: 2px"
        placeholder="Tag 1, Tag 2, ..." name="form_tag_name" #form_tag_name="ngModel" [(ngModel)]="tagdefault"
        (ngModelChange)="firstLetterCapital(tagdefault)" (keyup.enter)="this.userrole == 'view'?this.userRoleGlobal.permissionCheck() :addtagForm(form_tag_name,true)" required
        autocomplete="off" />
    </div>
    <hr class="hr-area" />
    <div class="content-area" id="style-1">
      <div class="tags-area">
        <div *ngFor="let option of taglist" class="tag-section-head bg">
          <div class="text-part">
            <p class="tag-name">{{ option["form_tag_name"] }}</p>
          </div>
          <div class="img-part">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="tag-close" alt="close"
              (click)="this.userrole == 'view'?this.userRoleGlobal.permissionCheck() :RemoveTag(option.form_tag_id)" />
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div class="footer">
    <button type="button" class="add-button" (click)="this.userrole == 'view'?this.userRoleGlobal.permissionCheck() : saveButtonTrigger(form_tag_name,false)" [disabled]="loader">
      Save
    </button>
  </div>
  <div *ngIf="loader" class="image_part">
    <img src="assets/images/spin.gif" alt="..." />
  </div>
</div>