<div class="fotgot-head" *ngIf="show">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="text-center headSec">
      <span class="forgot-heading">Forgot Password</span
      ><span style="float: right" (click)="close()"
        ><img class="close" src="assets/images/P3_Close-Cancel_Blue.png"
      /></span>
    </div>
    <hr class="line-head" />
    <div class="content-area">
      <div class="text-center txtclr">
        <span class="forgot-text" *ngIf="show"
          >Please enter your email address below <br />and we will send you a
          link to reset<br />
          your password.</span
        >
      </div>

      <div *ngIf="show" class="input-group mb-3 linebox">
        <div class="col-lg-12 text-center err-msg1">
          <span class="clr" *ngIf="!errBlock">
            {{ responseMessage }}
          </span>
          <span class="clr" *ngIf="errBlock">
            {{ err_message }}
          </span>
          <!-- <span class=" clr" *ngIf="email_id.valid && password.touched && password.invalid ">
        Password must be minimum 4 charcters
      </span>  -->
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text bg-none pl-0" id="basic-addon1"
            ><img class="email-img" src="assets/images/P3_EmailIcon _Grey.png"
          /></span>
        </div>
        <input
          type="email"
          required
          minlength="1"
          maxlength="320"
          class="form-control bg-none input-field"
          placeholder="Email Address"
          aria-label="email"
          aria-describedby="basic-addon1"
          name="email_id"
          #email_id="ngModel"
          [(ngModel)]="externalUserEmail"
          autocomplete="off"
        />
      </div>
      <div *ngIf="show" class="row form-group text-center btnDiv">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-xs-12 col-lg-6 col-md-6">
          <button
            class="btn-lg bton-sing"
            mat-raised-button
            type="submit"
            [disabled]="form.invalid"
          >
            Submit
          </button>
        </div>
        <div class="col-lg-3 col-md-3"></div>
      </div>
    </div>
  </form>
</div>
