.fotgot-head {
  background-color: rgba(203, 214, 223, 0.5);
}
.heading-part {
  padding: 24px;
}
.bg-none {
  border: none;
  background: none;
}
.linebox {
  padding: 5px 0px;
  border-bottom: 1px solid rgba(128, 127, 131, 0.5);
  position: relative;
  /* width: 450px; */
}
i {
  font-size: 20px;
}
.txtclr {
  color: #002e5f;
  margin-bottom: 2rem;
}
.forgot-heading {
  color: #212721;
  font-size:18px;
  font-weight:bold;
}
.line-head {
  margin-top: 0px;
  margin-bottom: 0px;
}
.content-area {
  padding: 24px;
}
.headSec {
  padding: 24px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .headSec {
    min-width: 400px;
  }
}
.btn-lg {
  background-color: #f98e2c;
  border: none;
  width: 100%;
  border-radius: 1px;
}
button:focus {
  outline: 0;
}
.btn-lg:active {
  border: none;
}
.btn-lg:disabled {
  cursor: not-allowed;
  background-color: #f98e2cc2;
}
.bton-sing {
  color: #fff;
  font-weight: 500;
}
.btnDiv {
  margin: 0px !important;
}
.close {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.forgot-text {
  font-size: 16px;
  color:#00447c;
  font-weight:bold;
}
.err-msg1 {
  margin-bottom: 1rem;
  min-height: 20px;
  font-size: 15px;
  font-weight:500;
  color: #f98e2c;
  position: absolute;
  top: -25px;
  left: 0;
}
.input-field {
  color:#00447c;
  font-weight:bold;
  font-size: 17px;
}
::placeholder {
  color: rgba(128, 127, 131, 0.9);
  opacity: 1;
  font-weight:400;
}
.email-img {
  width: 25px;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 2px;
}