<div
  class="row col-12 justify-content-center"
  style="text-align: center; align-items: center; height: 90vh;"
>
  <div class="col-4 justify-content-center"></div>
  <div class="col-4 justify-content-center">
    <!-- <h3 style="text-align: center;">Add External User</h3>
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
      <label style="float: left; margin-top: 20px;" for="Email_id"
        >Email ID</label
      >
      <input
        type="text"
        class="form-control"
        minlength="4"
        maxlength="320"
        placeholder="Email id"
        name="email_id"
        [email]
        #email_id="ngModel"
        [(ngModel)]="service.formData.email_id"
        required
      />
      <label style="float: left; margin-top: 20px;" for="Email_id"
        >Firt Name</label
      >
      <input
        type="text"
        class="form-control"
        minlength="4"
        maxlength="320"
        placeholder="First Name"
        name="first_name"
        #first_name="ngModel"
        [(ngModel)]="service.formData.first_name"
        required
      />
      <label style="float: left; margin-top: 20px;" for="Email_id"
        >Last Name</label
      >
      <input
        type="text"
        class="form-control"
        minlength="4"
        maxlength="320"
        placeholder="Last Name"
        name="last_name"
        #last_name="ngModel"
        [(ngModel)]="service.formData.last_name"
        required
      />
      <button style="margin-top: 20px;" type="submit" class="btn btn-success">
        ADD USER
      </button>
    </form> -->
  </div>

  <div class="col-4 justify-content-center"></div>
</div>
