<div class="app-project-head">
  <div class="header container-fluid">
    <h3 class="header-heading">{{ toolbarName }}</h3>
    <!-- <p class="created-date">Created : {{ createdDate | date: "MM/dd/yyyy" }}</p>
      <p class="modified-date">
        Modified : {{ modifiedDate | date: "MM/dd/yyyy" }}
      </p>
      <p class="tags">
        Tags :
        <span *ngFor="let toolbartagname of toolbarTagList; let i = index"
          >{{ toolbartagname["toolbar_tag_name"]
          }}<span *ngIf="toolbarTagList.length - 1 !== i">, </span></span
        >
      </p> -->
    <div class="image-close">
      <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()" />
    </div>
  </div>
  <div class="content-area">
    <!-- <div class="row content-head-section">
              <div class="col-lg-2">
                  <img class="img-part" src="assets/images/toolbar/P3_ToolbarEditIcon_Blue.png">
              </div>
              <div class="col-lg-10">
                  <p class="content-heading" (click)="gotoToolbarDesign()">Edit</p>
              </div>
          </div>
          <hr class="hr-area"> -->
    <div class="row content-head-section" (click)="this.userrole=='view'?userRoleGlobal.permissionCheck():gotoRenameBox()">

      <div class="col-lg-10">
        <p class="content-heading">Rename</p>
      </div>
    </div>
    <hr class="hr-area" />
    <div class="row content-head-section" (click)="this.userrole=='view'?userRoleGlobal.permissionCheck():goToManageTags()">

      <div class="col-lg-10">
        <p class="content-heading">Manage Tags</p>
      </div>
    </div>
    <hr class="hr-area" />
    <div class="row content-head-section" (click)="goToMoreInformation()">

      <div class="col-lg-10">
        <p class="content-heading">
          More Information
        </p>
      </div>
    </div>
    <hr class="hr-area" />
    <div class="row content-head-section" (click)="this.userrole=='view'?userRoleGlobal.permissionCheck():unhide()">

      <div class="col-lg-10">
        <p class="content-heading">Unhide</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="show" class="image_part1">
  <img class="loader-style" src="assets/images/spin.gif" alt="..." />
</div>