<div class="file-upload-section">
  <div class="header container-fluid">
    <h3 class="header-heading1">Add Document</h3>
    <div class="image-close">
      <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()" />
    </div>
  </div>
  <div class="row add-file-area">
    <!-- <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="htmlCallBack($event)">
      <input hidden type="file" id="file" multiple accept="image/*,application/pdf" #fileInput (change)="htmlCallBack($event.target.files)">
      <div class="textBanner">Select your document file or drag and drop them here.</div>
    </div> -->
    <ngx-file-drop class="uploadfilecontainer" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
      multiple="true" accept=".png,.jpeg,.jpg,.pdf">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="textBanner">Select your document file or drag and drop them here.</div>
        <div class="inside-selector" (click)="openFileSelector()"></div>
      </ng-template>
    </ngx-file-drop>
    <pdf-viewer [src]="pdfSource" [page]="pdfPageNumber" [show-all]="false" [render-text]="true" style="height:0px;width:0px;display: block;"
      (after-load-complete)="callBackFn($event)"></pdf-viewer>
    <div class="file-parent scroll-1">
      <div class="col-lg-12 row file-head">
        <div *ngFor="let files of markUIvalues" class="col-lg-10">
          <div class="files-list">
            <span class="FileNameText">{{ files.filename }}</span>
            <!-- <button class="delete-file" (click)="deleteAttachment(i)">
              <img src="assets/images/P3_Close-Cancel_Blue.png">
            </button> -->
          </div>
        </div>
        <div *ngIf="progressEnable" class="col-lg-3">
          <div class="meter">
            <span [style.width]="file.progress+'%'"></span>
          </div>
        </div>
        <div *ngIf="message" class="col-lg-4 message1">
          <span>{{message}}</span>
        </div>
        <!-- <div *ngIf="dbmessage" class="col-lg-4 message1">
          <span>{{message1}}</span>
        </div> -->
        <div *ngIf="tick" class="col-lg-1">
          <img class="imageTick" src="assets/tick markvalue.png">
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-12">
      <p>There is a issue in file upload. Please try again.</p>
    </div> -->
  </div>
  <div class="footer">
    <button type="button" [disabled]="buttonValidate" class="add-button" (click)="goToSelectFolder1()">
      Upload File
    </button>
  </div>
</div>