.header{
    background-color:#E8E8E8;  
    padding:15px 10px;
    position: relative;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    color:#807F83;
    font-weight: 500;
}
.bg-none
{
   border:none
}
.linebox
{
    padding: 5px 0px;
    border-bottom:1px solid #e7e7e2;
    position: relative;
    /* width: 450px; */
}
i{
    font-size: 18px;
   
}
.fnt-style{
    font-style: italic;
}
.head{
    color: #002e5f;
    font-weight: 500;
   font-size: 16px;   
}
.color{
background-color:#E8E8E8;
font-style: italic;
font-weight:500;
}
hr {
    background-color: #E8E8E8;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.txtclr
{   
    font-size:17px;
    color: #807F83;
    font-weight:500;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.headSec
{
    color: #002e5f;
    font-weight: bold;
   font-size: 16px;
   font-style: normal;
  

}
.num{
    text-align: end;
    color:#F08B1D;
    font-weight:bold;
}
.hover{
    cursor: pointer;
}
@media(min-width:768px) {
    .headSec
    {
        min-width: 400px;
    }
}
.btn-lg
{
    background-color: #f98e2c;
    border: none;
    width: 100%;
    border-radius: 1px;
}
button:focus {outline:0;}
.btn-lg:active
{
    border: none;
}
.btn-lg:disabled
{
   
    cursor: not-allowed;
    
}
.bton-sing
{
    color: #fff;
    font-weight: 500;
}
.btnDiv
{
    margin: 0px !important;
}
.close
{
    line-height: 0.7 !important;
    cursor: pointer;
}
.input-group-text{
    background-color:none;
}
.fnt-type{
    font-style: normal !important;
}
.tags{
    margin-bottom: 0px;
}
.tag-name{
    width:11%;
}
.tag-list{
    width:89%;
}
.content-head{
    margin: 0px;
    align-items: center;
    padding:15px 10px;
}
.count-part{
    text-align: center;
}