.anchorStyle{
    color: #fdc07e;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    cursor: pointer;
}
.anchorStyle:hover{
    color: #1a7846;
    text-decoration: underline;
    cursor: pointer;
}