<div *ngIf="overlay" id="overlay">
  <div *ngIf="show" class="col-lg-12 col-md-12 proj_section">
    <div class="image_part text-center">
      <img src="assets/images/spin.gif" width="300px" alt="..." />
    </div>
  </div>
</div>
<div class="auth-wrapper no-block justify-content-center align-items-center" style="
    background: url(assets/images/background/P3_Design_LoginScreen_Bg.jpg)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
  ">
  <!-- <div class="auth-wrapper no-block justify-content-center align-items-center" style="background:url(assets/images/P3_Design_LoginScreen_BgImage.jpg); 
background-size: 100% 100%;background-repeat: no-repeat;background-position: left top;height: 100%;"> -->
  <!-- <div class="bg-overlay" style="background:url(assets/images/P3_Design_Login_BlueGradient.png);background-size: 100% 100%;
            background-repeat: no-repeat;background-position: left top;height: 100%;"> -->
  <div class="row hr-center">
    <div class="col-lg-6 col-md-7 col-sm-8 whole-part m-3 m-md-0">
      <div id="loginform" [ngClass]="{ 'd-none': recoverform }" class="col-lg-12 loginSection">
        <div class="col-12 logo">
          <img src="assets/images/icons/P3_Design_LoginScreen_Title LogoFull.png" style="width: 320px" class="img-fluid"
            alt="Responsive image" />
        </div>
        <!-- Form -->
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <form #form="ngForm" (submit)="onSubmit(form)" class="form-horizontal m-t-20" id="loginform">
              <div class="input-group mb-3 linebox">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-none" id="basic-addon1"><img class="email-img"
                      src="assets/images/P3_EmailIcon _White.png" /></span>
                </div>
                <input type="email" required minlength="1" maxlength="320"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control bg-none input-field"
                  placeholder="Email Address" aria-label="email" aria-describedby="basic-addon1" name="email_id"
                  #email_id="ngModel" [(ngModel)]="service.formData.email_id" autocomplete="off"
                  (keyup)="errorMessageTrigger(email_id.value, password.value)" />
              </div>
              <div class="input-group mb-3 linebox">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-none" id="basic-addon2"><img class="password-img"
                      src="assets/images/P3_Passwordicon _White.png" /></span>
                </div>
                <input id="password" [type]="fieldTextType ? 'text' : 'password'" required minlength="4" maxlength="40"
                  class="form-control bg-none input-field" placeholder="Password" aria-label="Password"
                  aria-describedby="basic-addon1" name="password" #password="ngModel"
                  [(ngModel)]="service.formData.password" (keyup)="errorMessageTrigger(email_id.value, password.value)"
                  autocomplete="off" />
                <div id="toggle" class="input-group-prepend">
                  <span class="input-group-text bg-none" *ngIf="!showPassword" id="basic-addon2"
                    (click)="passwordonClick()">
                    <img class="password-img" src="assets/images/outline_visibility_white_18dp.png" />
                    <!-- <span class="material-icons">
                    visibility_off
                  </span>-->
                  </span>

                  <span class="input-group-text bg-none" *ngIf="showPassword" id="basic-addon2"
                    (click)="passwordoffClick()">
                    <img class="password-img" src="assets/images/outline_visibility_off_white_18dp.png" />
                    <!-- <span class="material-icons">
                    visibility
                  </span> -->
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox d-flex mrg-tp">
                    <label class="checkbox-label">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" name="Rememberme"
                        #Rememberme="ngModel" [(ngModel)]="rememberMe || rm" data-md-icheck
                        (change)="toggleVisibility($event)" />
                      <span class="checkbox-custom rectangular"></span>
                    </label>
                    <!-- <input type="checkbox"   (click)="showRecoverForm()"> -->
                    <label class="font-14 md-color fnt-18" for="customCheck1">Remember me?</label>
                    <span (click)="forgotPassword()" class="text-dark font-14 ml-auto lineundr fnt-18">
                      Forgot Password</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-center err-msg1">
                  <p [style.visibility]="errBlock == true ? 'visible' : 'hidden'"
                    class="error_text clr field_invalid text-center" [ngClass]="{ color: block }">
                    {{ err_message }}
                  </p>
                </div>
              </div>
              <div class="row form-group text-center justify-content-center">
                <div class="col-xs-12 col-lg-4 col-md-4">
                  <button class="btn-lg bton-sing" type="submit" [disabled]="signInbuttonDis" style="padding: 1px">
                    Sign In
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 copy-right-head">
      <p class="copyright-text">
        <span class="copyright-symbol">&#169;</span> COPYRIGHT WISS, JANNEY,
        ELSTNER ASSOCIATES, INC., NORTHBROOK, ILLINOIS. ALL RIGHTS RESERVED.
      </p>
    </div>
  </div>
</div>