<div class="more_information_section">
    <div class="header container-fluid">
        <h3 class="header-heading single-line-text">{{toolbarName}}</h3>
        <p class="created-date date-textglobal">Created: {{createdDate | date : "MM/dd/yyyy 'at' hh:mm a"}}</p>
        <p class="modified-date date-textglobal">Last Modified: {{modifiedDate | date : "MM/dd/yyyy 'at' hh:mm a"}}</p>
        <!-- <p class="tags">Tags: 
            <span *ngFor="let toolbartagname of toolbarTagList;let indexValue=index">{{toolbartagname['toolbar_tag_name']}}<span *ngIf="toolbarTagList.length-1>indexValue">, </span></span>
        </p> -->
        <div class="row m-0 col-lg-12 p-0">
            <div class="tag-name">
                <p class="tags fnt-type">Tags: </p>
            </div>
            <div class="tag-list">
                <span class="tags fnt-type"
                    *ngFor="let toolbartagname of toolbarTagList;let indexvalue=index">{{toolbartagname['toolbar_tag_name']}}<span
                        *ngIf="toolbarTagList.length-1>indexvalue">, </span></span>
            </div>
        </div>
        <div class="image-close">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()">
        </div>
    </div>
    <div class="content-area">
        <div class="row content-head-section">

            <div class="col-lg-9 col-sm-9">
                <p class="content-heading">Annotations</p>
            </div>
            <div class="col-lg-3 col-sm-3 count-part">
                <p class="file-counts">{{annotationCount}}</p>
            </div>
        </div>
    </div>
</div>