<div>
    <div style="background-color: #e8e8e8">
      <div class="text-center headSec" style="background-color: #e8e8e8; padding-top: 20px; padding-bottom: 4px">
        <span style="background-color: #e8e8e8; padding-left: 50px">{{title}}</span><span class="close"
          style="float: right; padding-right: 24px" (click)="onClose()"><img src="assets/images/P3_Close-Cancel_Blue.png"
            width="25px" /></span>
      </div>
      <hr style="background-color: #e8e8e8" />
    </div>
    <div class="text-center txtclr">
      <span style="color: #002e5f; font-size: 17px">{{showMessage}}</span>
    </div>
    <div class="dont-allow-head">
      <input type="checkbox" name="dontwant" id="dontwantmessage" class="dontwant-mr remainderCheckbox" (change)="remainderCheck($event)">
      <label for="dontwantmessage" class="dontwant-mr-label">Don’t show this message again</label>
    </div>
    <div style="background-color: #e8e8e8; padding-bottom: 28px">
        <hr style="background-color: #e8e8e8; margin-bottom: 24px; margin-top: 24px"/>
        <div class="text-center">
          <button (click)="confirm()" value="submit" style="color:brown; font-size: 18px; font-weight:500">
            Ok  </button>
        </div>
      </div>
    
  </div>
  