<div>
  <div style="background-color: #e8e8e8;">
    <div
      class="text-center headSec"
      style="background-color: #e8e8e8; padding-top: 20px; padding-bottom: 4px;"
    >
      <span style="background-color: #e8e8e8; padding-left: 50px;"
        >Use As Toolbar</span
      ><span
        class="close"
        style="float: right; padding-right: 24px;"
        (click)="onclose()"
        ><img src="assets/images/P3_Close-Cancel_Blue.png" width="25px"
      /></span>
    </div>
    <hr style="background-color: #e8e8e8;" />
  </div>
  <div class="text-center txtclr">
    <span style="color: #002e5f; font-size: 17px;"
      >Enter a name for the new toolbar</span
    >
  </div>
  <div>
    <form autocomplete="off" class="form">
      <div class="input-group mb-12">
        <!-- <div class="input-group-prepend">
          <span class="text-center bg-none" id="basic-addon1"
            ><img
              src="assets/images/P3_FormsIcon_Blue.png"
              width="23px"
              style="margin-left: 24px;"
          /></span>
        </div> -->
        <input
          class="form-control bg-none input-field"
          aria-describedby="basic-addon1"
          placeholder="My Toolbar"
          name="toolbar_name"
          #toolbar_name="ngModel"
          [(ngModel)]="toolbarName"
          (ngModelChange)="firstLetterCapital(toolbarName)"
          required
          autocomplete="off"
        />
      </div>
      <!-- <hr style="width: 90%; background-color: #e8e8e8; margin-top: 0rem;" /> -->
      <div style="background-color: #e8e8e8; padding-bottom: 28px;">
        <hr
          style="
            background-color: #e8e8e8;
            margin-bottom: 24px;
            margin-top: 24px;
          "
        />
        <div class="text-center">
          <button
            class="add-button"
            type="button"
            [disabled]="toolbar_name.value == undefined"
            style="color: #a4a426; font-size: 18px; font-weight: bold;"
            (click)="AddNewToolbarAuc(toolbar_name.value)"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="show" class="image_part1">
  <img src="assets/images/spin.gif" alt="..." />
</div>