.tags-section-head{
  overflow:hidden;
}
.bg-none
{
 border:none
}
.linebox
{
  padding: 5px 0px;
  border-bottom:1px solid #e7e7e2;
  position: relative;
  /* width: 450px; */
}
i{
  font-size: 18px;
 
}
.image_part{
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -135px;
  margin-top: -135px;
  z-index:999;
}
.txtclr
{   
  font-size:17px;
  color: #807F83;
  font-weight:500;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.headSec
{
  color: #002e5f;
  font-weight: 500;
 font-size: 17px;
}
.foot{
  color: #002e5f;
  font-size: 17px;
}
@media(min-width:768px) {
  .headSec
  {
      min-width: 400px;
  }
}
.btn-lg
{
  background-color: #f98e2c;
  border: none;
  width: 100%;
  border-radius: 1px;
}
button:focus {outline:0;}
.btn-lg:active
{
  border: none;
}
button{
  cursor: pointer;
  border:none;
  background-color: #E8E8E8;
}
button:disabled,
button[disabled]{
cursor: not-allowed;
border:none;
background-color: #E8E8E8;
}
.btn-lg:disabled
{
 
  cursor: not-allowed;
  
}
.bton-sing
{
  color: #fff;
  font-weight: 500;
}
.btnDiv
{
  margin: 0px !important;
}
.close
{
  line-height: 0.7 !important;
  cursor: pointer;
}
.input-group-text{
  background-color:none;
}
.bg{
  background-color: rgba(249,142,42,0.6);
}
.header{
  background-color:#E8E8E8;  
  padding:20px;
  position: relative;
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.header-heading{
  color: #002e5f;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}
.img-close{
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.tag-close{
  width:12px;
  height:12px;
}
.tag-close:hover{
  cursor: pointer;
}
.img-close:hover{
  cursor: pointer;
}
.heading{
  padding: 20px 55px;
  text-align: center;
  font-size: 17px;
  color: #002e5f;
  font-weight: 500;
}
.input-field{
  border:none;
  font-weight: 500;
  margin-left: 2px;
  color:#212721;
  padding:10px 35px;
}
.input-field::placeholder{
  font-weight: 500;
}
.hr-area{
  margin:3px 25px 12px 25px; 
}
.footer{
  padding:30px 10px;
  text-align: center;
  background-color: #E8E8E8;
  border-top:1px solid rgba(0, 0, 0, 0.1);
}
.add-button{
  color: #A4A426;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0px;
  background-color: transparent;
  border:none;
}
.add-button:disabled{
  cursor:not-allowed;
}
.newFolder-img, .newsubFolder-img{
  width:25px;
}
button{
  outline: none;
}
.tags-adjust{
  max-height: 300px;
}
.tags-area{
  display:flex;
  padding:0px 25px 0px 18px;
  max-width:80%;
  flex-wrap:wrap;
}
.tag-bg{
  padding:5px 10px;
  background-color:rgba(249, 142, 42,.4);
}
.tag-name{
  color:#002e5f;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0px;
  word-break: break-word;
}
.row{
  margin:0px;
}
.tag-section-head{
  display:flex;
  margin:5px;
  padding:5px;
}

.tag-icon-head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-icon{
  margin-left: 25px;
  width: 36px;
  height: 23px;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A7A9AC; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #807F83; 
}
.text-part{
  margin-right:10px;
}
.content-area{
  min-height: 150px;
  overflow-y: auto;
  max-height: 150px;
}
.image_part1 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -135.5px;
  margin-top: -135.5px;
  z-index: 9999;
}