.table-head{
  padding:10px 0px 110px 0px;
}
.image_part{
   align-items: center;
   
  }
  ::ng-deep .tooltipstyle {
    color: #FFFFFF !important;
    background-color: #212721;
    padding: 0px 5px !important;
    font-size: 11px;
}
  .projectdetails_section{
      align-items: center;
    position: relative;
  min-height:85vh;
    display:flex;
 justify-content: center;
    
  }
  .c{
      margin-top: 3%;
  }

  p{
    
    font-size:18px;
    color:lightgray;
    font-weight: 500;
  
}
.my-class .mat-dialog-container{

    border-radius: 10px!important;
    border:2px solid red;

  } 
  mat-header-row {
    min-height: 62px;
}
mat-row, mat-footer-row {
  display: flex;
  border-width: 0;
  min-height: 50px;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
}
ng-container{
    padding-left: 0px;
    padding-right: 0px;
}
  .f{
      bottom:0;
      right:0;
      position:fixed;
      width:100%;
  }
  .n{
   
    bottom:0;
  right:0;
    position:fixed;
   }
 .hover{
     cursor:pointer;
     -webkit-user-drag:none;
 }
 mat-header-cell{
 background-color:#E8E8E8;
 font-size:18px;
 font-weight: 500;
 color:rgba(64, 64, 64, .8);

 
 }
 mat-cell{
     padding-top:18px;
     padding-bottom:18px;
 }
.pl{
    color:#00447c;
    margin-top:-30px;
    font-size: 50px;
    font-weight:500;
}
.mobile-label
{
    display: none;
}
 @media(max-width:500px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .Buttons
    {
        margin-left:-15px!important;
     
    }
    mat-cell
    {
        
        padding-top:0%;
        padding-bottom: 0%;
       
    }
    .mobile-label {
      width:30%;
      display: inline-block;
          font-weight: bold;
          box-sizing: 0px;
        
          
    }
  
    .mat-header-row {
      display: none;
      margin-top: -10px;
    }
    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
        padding-left: 0px;
    }
  
    .mat-row { 
       
      flex-direction: column;
      align-items: start;
      padding: 20px 40px 0px;
      
    }
  
  
  } 
  .mat-dialog-container {
    display: block;
    /* padding: 24px; */
    border-radius: 35px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}
.addProject{
  z-index:0;
}
.mat_table, .mat_row_wise{
  z-index: 999;
}
.change_cur:hover{
  cursor: pointer;
}
.image_part{
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -135px;
  margin-top:-135px;
  z-index:999;
}
.project-add-img{
  position: fixed;
  bottom:0%;
  right:0%;
  z-index:999;
}
.change_cur{
  padding-left: 65px;
}
.appleicon{
  font-size:20px;
  color:red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
.cursorPointer:hover {
  cursor: pointer;
}
