<div>
    <div class="About-header">
        <h3 class="About-heading">About Plannotate</h3>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 styling">
        <span class="d-flex justify-content-center ">Last Updated {{month}} ‌‌{{day}}, {{year}}</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n">
        <span class="font">Plannotate {{versionNumber}}<br>
            <span class="copyright-symbol">&#169;</span> COPYRIGHT WISS, JANNEY, ELSTNER ASSOCIATES, INC., NORTHBROOK,
            ILLINOIS. ALL RIGHTS RESERVED.</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
        <span class="font">Plannotate3 ("P3") is the successor to Plannotate2 ("P2"), a software platform for the
            collection of field investigation and condition assessment data. P3 is a SaaS application for the Apple iPad
            iOS and computer web browser that interfaces with an internet accessible web server, otherwise known as the
            P3 Cloud.</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
        <span class="font">P3 is designed for the efficient collection of field data. As such, it allows powerful
            annotation capabilities for PDF documents and photos using various annotation icons or drawing tools chosen
            from a series of custom toolbars. Each annotation can then contain a plethora of data such as forms or
            photos. The collected data can be synced to the cloud to provide data back-up, access to data for multiple
            users, and near real-time opportunities to review from anywhere in the world.</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
        <span class="font">WJE, the WJE logo, and Plannotate are trademarks or registered trademarks of WJE in the
            United States and/or other countries. All other names are trademarks or registered trademarks of their
            respective companies.</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
        <span class="font">While every attempt has been made to ensure that the information in this document is accurate
            and complete, some typographical errors or technical inaccuracies may exist. WJE does not accept
            responsibility for any kind of loss resulting from the use of information contained in this document.</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
        <span class="font">This document shows the Last updated date. The information contained in this document is
            subject to change without notice. Any improvements or changes to either the product or the document will be
            documented in subsequent editions.</span>
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
        <span class="font">This software/documentation contains proprietary information of WJE. All rights are reserved.
            Reverse engineering of this software is prohibited. No part of this software or documentation may be copied,
            photocopied, reproduced, stored in a retrieval system, transmitted in any form or by any means, or
            translated into another language without the prior written consent of WJE.</span>
    </div>