<div class="col-md-12 p-0">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_11_28_Tutorials_01-AddProjects.jpg" alt="Random first slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_12_29_Tutorials_02-ProjectsOptions.jpg" alt="Random second slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_14_30_Tutorials_03-Search.jpg" alt="Random third slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_15_31_Tutorials_04-Sort.jpg" alt="Random third slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_16_32_Tutorials_05-Syncing.jpg" alt="Random third slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_13_33_Tutorials_06-Settings.jpg" alt="Random third slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="assets/images/tutorial/P3_Design_17_34_Tutorials_07-Support.jpg" alt="Random third slide"
                class="slide_img">
            <div class="carousel-caption">
            </div>
        </ng-template>
    </ngb-carousel>
</div>