<div>
    <div style="background-color:#E8E8E8">
        <div class="text-center headSec" style="background-color:#E8E8E8;  padding-top:20px; padding-bottom: 4px; ">
            <span style="background-color: #E8E8E8;  padding-left:50px; ">Rename Form</span><span class="close"
                style="float: right; padding-right: 24px;" (click)=" onclose()"><img
                    src="assets/images/P3_Close-Cancel_Blue.png" width="25px"></span>
        </div>
        <hr style="background-color:#E8E8E8">
    </div>
    <div class="text-center txtclr"><span style="color: #807F83; font-size:17px; ">Please enter a new form name</span>
    </div>
    <div>
        <div class="input-group mb-12 ">
            <div class="input-group-prepend">
                <span class="text-center bg-none" id="basic-addon1"><img src="assets/images/P3_FolderRenameIcon.png"
                        width="40px" style="margin-left:25px; padding-top: 6px;"></span>
            </div>
            <input class="form-control bg-none" aria-describedby="basic-addon1" style="margin-left: 2px;"
                placeholder="{{formname}}" name="form_name" #form_name required autocomplete="off" />
            <!-- <input class="form-control bg-none"
        aria-describedby="basic-addon1" style="margin-left: 2px;" placeholder="" name="project_name"  #project_name="ngModel" [(ngModel)]="this.namedefault" required autocomplete="off" /> -->
        </div>
        <hr style="margin-top:1.5rem; width:90%; background-color:#E8E8E8; margin-top:0.5rem;">
        <div style="background-color:#E8E8E8; padding-bottom: 28px;">
            <hr style="background-color:#E8E8E8; margin-bottom: 24px; margin-top: 24px;">
            <div class="text-center"><button (click)=" rename(form_name.value)" value="submit"
                    style="color:#A4A426; font-size:18px; font-weight:bold;">Rename</button></div>
        </div>
    </div>