<div style="background-color:#FFFFFF">
    <div class="text-center headSec" style="background-color:#FFFFFF;  padding-top:20px; padding-bottom: 4px; "><span
            style="padding-left:50px; ">{{title}}</span><span class="close" style="float: right; padding-right: 24px;"
            (click)=" onclose()"><img src="assets/images/P3_Close-Cancel_Blue.png" width="25px"></span></div>
    <hr style="background-color:#E8E8E8">
    <div>
        <div>
            <div class="text-center txtclr"><span class="content-style">{{content}}</span>
            </div>
            <div style="background-color:#FFFFFF; padding-bottom: 28px;">
                <hr style="background-color:#FFFFFF; margin-bottom: 24px; margin-top: 24px;">
                <div class="text-center"><button   (click)=" onclose()"
                        style="color:#A4A426; font-size:18px; font-weight:500;">OK</button></div>
            </div>
        </div>
    </div>