<div *ngIf="!show" class="projectdetails_section" style="width:550px;">
    <div class="header container-fluid">
        <h3 class="header-heading">{{headingValue}}</h3>
        <div class="image-close">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()">
        </div>
    </div>
    <div *ngIf="!loader" class="content-area-head" id="style-1">
        <div class="content-area">
            <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" [hidden]="node.is_folder_flag==false" matTreeNodeToggle
                    matTreeNodePadding class="mat_tree_section" (dragover)="handleDragOver($event, node);"
                    (dragend)="handleDragEnd($event);" (drop)="handleDrop($event, node);" [ngClass]="getStyle(node)"
                    (click)="uploadtime(node.folder_level,node.folder_id)">
                    <div *ngIf="node.is_folder_flag==true" class="top_head">
                        <div class="img-head">
                            <img [src]="getfoldericon(node)" alt="Sub-folder" class="parent-folder-img">
                        </div>
                        <div *ngIf="node.is_folder_flag==true" class="name-head">
                            <span class="checklist-leaf-node child_text_area" draggable="true"
                                (dragstart)="handleDragStart($event, node);">
                                <span class="nodeContent content-heading" [ngClass]="{'drag-start': dragNode===node}">
                                    {{node.item}}
                                </span>
                            </span>
                        </div>
                    </div>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="mat_tree_section"
                    matTreeNodeOutlet (dragover)="handleDragOver($event, node);"
                    (dragend)="handleDragEnd($event, node);" (drop)="handleDrop($event, node);"
                    [ngClass]="getStyle(node)" (load)="tree.treeControl.expandAll()"
                    (click)="uploadtime(node.folder_level,node.folder_id)">
                    <div class="top_head">
                        <div class="img-head">
                            <img class="parent-folder-img" [src]="getfoldericon(node)">
                        </div>
                        <div class="name-head">
                            <span class=" checklist-leaf-node  folder-name" draggable="true"
                                (dragstart)="handleDragStart($event, node);">
                                <span class="nodeContent content-heading" [ngClass]="{'drag-start': dragNode===node}">
                                    {{node.item}}
                                </span>
                            </span>
                        </div>
                    </div>
                </mat-tree-node>
            </mat-tree>
            <span #emptyItem></span>
        </div>
    </div>
    <div *ngIf="loader" class="content-area-head1" id="style-1">
        <div class="row progressArea" *ngFor="let receiveFile of changeNameUIView;let i=index;">
            <div class="col-lg-6 progress-filenamehead">
                <p class="progress-filename">{{receiveFile.filename}}</p>
            </div>
            <div class="col-lg-6 progressbar-head" *ngIf="receiveFile.progressEnable">
                <progress class="progress-area" [value]="receiveFile.progress" [max]="100"></progress>
                <span class="percentageText">{{receiveFile.progress}}%</span>
            </div>
            <div *ngIf="receiveFile.message" class="col-lg-6">
                <span class="message1">{{errorMessage}}</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="false" class="image_part">
    <img src="assets/images/spin.gif" width="300px" alt="...">
</div>