<div class="app-project-head to-print">
    <div class="header container-fluid">
        <h3 class="header-heading1">Options</h3>
        <div class="image-close">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()">
        </div>
    </div>

    <div class="content-area">
        <div class="row content-head-section">
            <div class="col-lg-8">
                <p class="content-heading" (click)="download()">Save Image</p>
            </div>
           </div>
        <hr class="hr-area">
        <!-- <div class="row content-head-section">
            <div class="col-lg-11" >
                <p class="content-heading" (click)="Print()">Print</p>
            </div>
        </div> -->
        </div>
        </div>
        
       
            
             
                
                <img  class="ch"  style="width:100%;"
                  [src]="baseUrl+imgurl+sKey1+sKey2" />
           
           
         