<div class="app-project-head">
    <div class="row header container-fluid">
        <div class="col-lg-12">
            <h3 class="content-heading-header">Information</h3>
        </div>
        <div class="image-close">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="delete()">
        </div>
    </div>
    <div class="content-area-delete">
        <!-- <p class="content-heading">{{message}}</p> -->
    </div>
    <div class="footer">
        <button type="button" class="delete-button" (click)="delete()">Confirm</button>
    </div>
</div>