<div class="app-project-head">
  <div class="header container-fluid">
    <h3 class="header-heading">Manage Tags</h3>
    <div class="image-close">
      <img src="assets/images/Sort/P3_Close-Cancel.png" class="img-close" alt="close"  (click)="close()" />
    </div>
  </div>
  <mat-dialog-content class="tags-adjust">
    <div class="heading">
      <p class="heading_text">
        Please enter a comma separated list of tags, or click any tag to remove.
      </p>
    </div>
    <div class="input-group input-field-head">
      <input class="form-control bg-none input-field" aria-describedby="basic-addon1"
         placeholder="Tag 1, Tag 2, ..."  name="layer_page_tag_name"
         #layer_page_tag_name="ngModel"
         [(ngModel)]="tagdefault"
         (ngModelChange)="firstLetterCapital(tagdefault)"
         (keyup.enter)="userRoleGlobal.userRol=='view'?userRoleGlobal.permissionCheck():AddTag(layer_page_tag_name.value,'enterkey')"
        autocomplete="off"/>
    </div>
    <hr class="hr-area" />
    <div class="content-area" id="style-1">
      <div class="tags-area">
        <div *ngFor="let option of documentTagList" class="tag-section-head bg">
          <div class="text-part">
            <p class="tag-name">{{ option["layer_page_tag_name"] }}</p>
          </div>
          <div class="img-part">
            <img src="assets/images/P3_Close-Cancel_Blue.png" class="tag-close" alt="close"
            (click)="userRoleGlobal.userRol=='view'?userRoleGlobal.permissionCheck():deletetag(option.layer_page_tag_id)"/>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div class="footer">
    <button type="button" class="add-button" 
    (click)="userRoleGlobal.userRol=='view'?userRoleGlobal.permissionCheck():AddTag(layer_page_tag_name.value,'savekey')">
      Save
    </button>
  </div>
  <div *ngIf="loader" class="image_part">
    <img src="assets/images/spin.gif" alt="..." />
  </div>
</div>
