<!-- <div *ngIf="show" class="col-lg-11 col-md-11 proj_section" style="position: absolute;">
    <div class="image_part">
        <img src="assets/images/spin.gif" width="300px" alt="..." />
    </div>
</div> -->
<div class="app-project-head">
    <div class="header container-fluid">
        <h3 class="header-heading1">Upload Complete</h3>
        <img src="assets/images/P3_Close-Cancel_Blue.png" class="img-close" alt="close" (click)="closeBox()" />
    </div>
    <div class="content-area">
        <!-- <div class="row content-head-section"
            (click)="this.userrole == 'view'?this.userRoleGlobal.permissionCheck() :addNewSubFolder()"> -->
        <div class="row content-head-section">
            <div class="col-lg-9 col-sm-9">
                <p class="content-heading">Photos Reconciled</p>
            </div>
            <div class="col-lg-3 col-sm-3 pr-0 hv-center">
                <p class="count">{{successFiles.length}}</p>
            </div>
        </div>
        <hr class="hr-area" />
        <!-- <div class="row content-head-section"
            (click)="this.userrole == 'view'?this.userRoleGlobal.permissionCheck() :fileUpload()"> -->
        <div class="row content-head-section">

            <div class="col-lg-9 col-sm-9">
                <p class="content-heading">Photos without Stubs</p>
            </div>
            <div class="col-lg-3 col-sm-3 pr-0 hv-center">
                <p class="count">{{failedFiles.length}}</p>
            </div>
        </div>
        <hr class="hr-area" />
        <!-- <div class="row content-head-section"
            (click)="this.userrole == 'view'?this.userRoleGlobal.permissionCheck() :downloadCSV()"> -->
        <div class="row content-head-section"
            (click)="downloadCSV()">
            <div class="col-lg-12 col-sm-12 download-head">
                <button type="button" [disabled]="(successFiles.length==0&&failedFiles.length==0)" class="download-btn">Download CSV</button>
            </div>
        </div>
    </div>
    <div class="table-structrue">
        <table>
            <tr><th></th></tr>
        </table>
    </div>
</div>

