.header{
    background-color:#E8E8E8;  
    padding:20px;
    position: relative;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.header-heading{
    color: #002e5f;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
}
.img-close{
    position: absolute;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
.img-close:hover{
    cursor: pointer;
}
.created-date, .modified-date, .tags{
    color: #807F83;
    font-style: italic;
    font-weight: 500;
}
p{
    margin-bottom: 0px;
}
.content-area{
    padding:0px 10px 10px 10px;
}
.row{
    margin:0px;
}
.img-part{
    width: 27px;
    height: 30px;
}
.content-head-section{
    padding:17px 5px;
    align-items: center;
    display: flex
}
.content-head-section:hover{
    cursor: pointer;
}
.content-heading{
    color:#002e5f;
    font-weight: 500;
    font-size: 16px;
}
.hr-area{
    margin:0px;
}