.myprofile-header{
    padding:27px 24px;
    background-color:#E8E8E8;
    /* border-bottom:1px solid rgba(0, 0, 0, .1); */
}
.img-head-part{
    justify-content: center;
    align-items: center;
}
.left-arrow{
    width:14px;
    height:20px;
}
.left-arrow:hover{
    cursor:pointer;
}
.myprofile-heading{
    text-align: center;
    color:#404040;
    font-size: 20px;
    font-weight: 500;
}
.content-area{
    padding:30px;
}
.m-b-adjust{
    margin-bottom: 25px;
}
.tutorial-heading{
    text-align: center;
    color:#002E5F;
    font-size: 22px;
    font-weight: 500;
}
.tips-heading{
    text-align: center;
    color:#002E5F;
    font-size: 22px;
    font-weight: 500;
}
.projectManagement-heading{
    color:#002E5F;
    font-size: 20px;
    font-weight: 500;
}
.row{
    margin:0px;
}
h3{
    margin-bottom: 0px;
}
p{
    margin-bottom:0px;
}
.video-image{
    height:24px;
}
.details-area{
    align-items: center;    
}
/* .video-img-part{
    text-align: center;
} */
.details-text{
    color:#002E5F;
    font-size: 17px;
    font-weight: 500;
}
.m-b-adjust-1{
    margin-bottom:20px;
}
.m-b-adjust-head{
    margin-bottom: 30px;
}

@media(max-width:768px){
    .content-area{
        padding:30px 20px;
    }   
}