<div class="sign-out-head">
    <div class="row">
        <div class="col-lg-12 col-md-12 sign-heading">
            <h3 class="sign-heading-text">Sign Out of Plannotate</h3>
        </div>
    </div>
    <div class="content-area">
        <div class="row">
            <div class="col-md-12 col-xl-12 col-xs-12 p-head-1">
                <p class="font">Plannotate allows users to work offline and retains work performed on each device that
                    has
                    not yet been synchronized to the Plannotate cloud server. Once a manual or automated sync takes
                    place,
                    the information will be synchronized with the Plannotate cloud.</p>
            </div>
            <div class="col-md-12 col-xl-12 col-xs-12 p-head">
                <p class="font">Upon signing out from this device, you have the option of removing any of your work that
                    has
                    not yet been synchronized. Note that if selected, this operation cannot be undone.</p>
            </div>
            <div class="col-md-12 col-xl-12 col-xs-12 p-head">
                <p class="font">If you wish to remove all work that has not been synchronized, please select the
                    checkbox
                    below. Otherwise local work will be retained on the device.</p>
            </div>
            <!-- <div class="col-md-12 col-xl-12 col-xs-12 removeItems-head p-head">
                <input type="checkbox" name="removeItems" class="removeItems-checkbox">
                <p class="font mb-0 addPad">Remove local work that has not been synchronized.</p>
            </div> -->
        </div>
        <div class="row pad-space">
            <div class="col-lg-12 sign-out-button">
                <button class="sign-out-button-text" (click)="logout()">Sign Out</button>
            </div>
        </div>
    </div>
</div>