<div class="convert-form">
<div class="row project">
    <div class="col-lg-12 content">
        <div class="pid">

            <label for="project_uuid">Project ID</label>
            <input type="text" autocomplete="on" name="project_uuid" #roject_uuid="ngModel" [(ngModel)]="project_uuid" class="own" placeholder="*pid ">
        </div>
    </div>
</div>

<div class="row pre">
    <button class="prep" (click)="conversion()" >convert</button>
</div>

    
</div>

<mat-form-field>
    <mat-label>Select Server</mat-label>
    <mat-select  [(ngModel)]="selectedLevel" (valueChange)="selectedValue($event)"  >
       
      <mat-option  *ngFor="let ipadd of apiData" [selected]="ipadd.ip" [value]="ipadd.ip">
      {{ipadd.ip}}
      </mat-option>         
      
    </mat-select>
  </mat-form-field> 