<!-- <div class="row col-xl-12 col-lg-12 col-xs-12 col-md-12  tophead align-items-center" >
    <div class="col-xl-1 col-lg-1 col-xs-12 col-md-1 d-flex  justify-content-center" >
        <span (click)="clickarrow()" style="cursor: pointer;"><img src="assets/images/P3_ArrowLeft_Blue.png" height="20px" width="13px"></span>
</div>
        <div class="col-xl-1 col-lg-1 col-xs-12 col-md-1"></div>
    
<div class="col-xl-8 col-lg-8 col-xs-8 col-md-8  justify-content-center" >
    <span  class="d-flex justify-content-center top">User Guide</span></div>
    <div class="col-xl-2 col-lg-2 col-xs-2 col-md-2"></div>
</div> -->
<!-- <div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 styling">
  <span class="d-flex justify-content-center"
    >Last Updated January 24,2020</span
  >
</div>

<div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
  <span class="font"
    >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.</span
  >
</div>
<div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
  <span class="font"
    >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </span>
</div>
<div class="col-xl-12 col-lg-12 col-xs-12 col-md-12 n" style="padding-top: 1%;">
  <span class="font"
    >Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software
    like Aldus PageMaker including versions of Lorem Ipsum.
  </span>
</div> -->
<div>
  <object type="text/html" data="http://54.161.33.218/" width="100%" style="min-height:77vh;">
  </object>
</div>